<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed|IBM+Plex+Serif|Libre+Franklin|Overpass" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <title>bremble.co</title>
</head>

<body>
    <header class="header">
        <a class="brand" href="/">
            Greg Bremble
            <span id="tagline">web developer<br />and so forth</span>
        </a>
        <nav class="navigation" role="main">
            <a href="/projects"><span>Projects</span></a>
            <a href="/writing"><span>Writing</span></a>
            <a href="/about"><span>About</span></a>
        </nav>
        <ul class="social">
            <li><a href="mailto:cgb5022@gmail.com"><img src="public/images/email.svg" alt="envelope by Iga from The Noun Project"></a></li>
            <li><a href="https://github.com/gbremble"><img src="public/images/github.svg" alt="github"></a></li>
            <li><img src="public/images/settings.svg" alt="settings" id="settings-btn"></li>
        </ul>
    </header>
    {{{body}}}
</body>

</html>