<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link to favicon -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="mask-icon" href="images/safari-pinned-tab.svg" color="#292c33">
    <link rel="stylesheet" type="text/css" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link
        href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Extra+Condensed|Libre+Franklin:400,500,600|Fira+Mono"
        rel="stylesheet">
    <title>{{title}}</title>
</head>

<body>
    <header class="header">
        <a class="brand" href="/">
            Greg Bremble
            <span id="tagline">a car nerd moonlighting as a baker</span>
        </a>
        <nav class="navigation" role="main">
            <a href="/projects"><span>Projects</span></a>
            <a href="/writing"><span>Writing</span></a>
            <a href="/about"><span>About</span></a>
        </nav>
        <ul class="social">
            <li><a href="mailto:cgb5022@gmail.com"><img src="/images/email.svg"
                        alt="envelope by Iga from The Noun Project"></a></li>
            <li><a href="https://github.com/gbremble"><img src="/images/github.svg"
                        alt="github"></a></li>
            <li><img src="/images/settings.svg" alt="settings" id="settings-btn"></li>
        </ul>
    </header>
    <div class="container">
        {{{body}}}
    </div>
</body>

</html>