<div class="wrapper">
    <div id="content">
        <h1>About</h1>
        <p>
            Hey. I’m Greg Bremble, a web developer based in Raleigh, North Carolina.
        </p>
        <p>
            I’m passionate about coding, and fascinated by Space. If you don’t find me in
            front of a computer, chances are you’ll find me working on my car.
        </p>
        <p>You can find my additional work on GitHub, or you can email me at cgb5022 at
            gmail dot com.</p>
    </div>
</div>