<div class="wrapper">
    <div id="content">
        <h1>About</h1>
        <p>
            I’m Greg Bremble, a web developer based in Raleigh, North Carolina.
        </p>
        <p>
            I’m passionate about coding, and understanding how things work. If you don’t find me in
            front of a computer, chances are you’ll find me working on my car.
        </p>
        <p>Check out my work on <a href="https://github.com/gbremble">GitHub</a>, or you can email me at cgb5022 at gmail dot com.</p>
    </div>
</div>