<div class="wrapper">
    <div id="content">
        <h1>City Counsel</h1>

        <p>City Counsel was the first of three group projects completed as part of the
            Coding Bootcamp at UNC Chapel Hill. As a group, we were asked to create
            something that uses APIs and AJAX to pull data from somewhere (the where was
            left up to us). Additionally, we were asked to use Bootstrap or another CSS
            framework, asked to have some sort of repeating element (table, columns, and
            so forth), to have user input validation, and asked to use Firebase for
            persistent data storage.</p>

        <h2>The Idea</h2>

        <p>City Counsel was conceived as a one-stop tool for city information. Whether
            you’re planning a night out in a city you’re familiar with, or a weekend away
            in a place you’ve never been to before, you generally want to know:
            <ul>
                <li>What’s going on?</li>
                <li>Where should I eat?</li>
                <li>What should I wear?</li>
            </ul>
        </p>

        <p>Instead of checking multiple apps, or performing different searches to see the
            weather, discover restaurants, and so on, just head to City Counsel and get
            everything in one place.</p>

        <h2>Technology Stack</h2>

        <p>
            <ul>
                <li>APIs: Flickr, OpenWeatherMap, Zomato, Ticketmaster, Wikipedia.</li>
                <li>Firebase: store the recently searched cities.</li>
                <li>Bootstrap: the UI.</li>
                <li>Bootstrap Select: customize the location search dropdown</li>
                <li>MomentJS: determine what the date is now, so we can display upcoming
                    events.</li>
                <li>AJAX</li>
                <li>Google Fonts</li>
            </ul>
        </p>

        <h2>The Lessons</h2>

        <p>After an initial run-in with merge conflicts, we quickly learned how to avoid
            stepping on each other’s toes when working as a team.</p>

        <p>Bootstrap is a wonderful framework for getting something standing in a short
            amount of time. Within a short time, I was able to create the basic page
            layout. I partnered with another group member on the theme and visual identity
            of the project, and drew the favicon to add a finishing touch.</p>

        <p>While others worked with the various APIs to bring in all of the city data, I
            designed and implemented the “Recently Searched Cities” feature using Firebase
            for the back end.</p>
    </div>
</div>