<div class="wrapper">
    <div id="content">
        <h1>Projects</h1>
        <div class="custom-list">
            <div class="item">
                <a href="https://github.com/gbremble/do-something">
                    <img src="/images/dsb.svg" alt="Do Something Better">
                    <span>Do Something Better</span>
                </a>
            </div>
            <div class="item">
                <a href="https://github.com/gbremble/strive">
                    <img src="/images/strive.svg" alt="Strive To-Dos">
                    <span>Strive To-Dos</span>
                </a>
            </div>
            <div class="item">
                <a href="https://github.com/gbremble/City-Counsel">
                    <img src="/images/cc.svg" alt="City Counsel">
                    <span>City Counsel</span>
                </a>
            </div>
        </div>
    </div>
</div>