<div class="wrapper">
    <article>
        <h1>Writing</h1>
        <p>Writing is easy.<br/>
        All you do is sit down<br/>
        in front of a typewriter<br/>
        and bleed.</p>
        <p>—E. Hemmingway</p>
    </article>
</div>