<div class="wrapper">
    <div id="content">
        <h1>Writing</h1>
        <article>
            <p>There is nothing to writing.<br />
                All you do is sit down<br />
                at a typewriter<br />
                and bleed.</p>
            <p>&mdash;E. Hemmingway</p>
        </article>
        <article>
            <p>More thoughts arriving shortly.</p>
        </article>

    </div>
</div>