/* html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block
}

body {
  line-height: 1
}

ol,
ul {
  list-style: none
}

blockquote,
q {
  quotes: none
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

body {
  background-color: #ff0
} */

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}

::selection {
  background: crimson;
  color: #fff
}

::-moz-selection {
  background: crimson;
  color: #fff
}

/* html,
body {
  margin: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto
} */

body {
  -webkit-font-smoothing: antialiased;
  color: #222;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  /* font-family: Helvetica, Arial, sans-serif; */
  font-family: 'Libre Franklin', Helvetica, sans-serif;
  font-size: 17px;
  line-height: 26px
}

div.container {
  max-width: 1500px;
  margin: 0 auto;
}

.projects {
  padding-left: 72px;
  padding-right: 72px;
  padding-bottom: 50px;
  margin-top: 50px;
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: underline
}

p {
  font-family: Georgia, serif;
  font-size: 18px;
  /* -webkit-font-smoothing: subpixel-antialiased; */
  /* margin: 20px 0; */
  /* max-width: 36rem */
}

h1,
h2 {
  font-weight: 800;
  font-family: 'Helvetica';
  letter-spacing: -.05rem;
}

h3 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 14px
}

section h2,
section h3 {
  margin: 18px 0 0
}

@media(min-width:700px) {

  /* this should be the width of the left navbar, to prevent underflow */
  body {
    margin-left: 240px
  }
}

/* side navbar */
body>header {
  background-color: #181818;
  position: relative;
  padding: 40px 20px;
  margin-bottom: 20px
}

@media(min-width:700px) {
  body>header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0
  }
}

body>header a {
  color: rgba(255, 255, 255, .8)
}

body>header a:hover {
  text-decoration: none
}

body>header a.active span,
/* active attr not set up for nav links */
body>header a:hover:not(.brand) span {
  border-bottom: 2px solid rgba(255, 255, 255, .25)
}

body>header a.brand {
  font-weight: 700;
  color: #fff;
  display: block;
  margin-bottom: 5px
}

body>header a.brand span {
  display: none
}

@media(min-width:700px) {
  body>header a.brand span {
    font-weight: 400;
    margin-bottom: 20px;
    display: block;
    color: rgba(255, 255, 255, .5)
  }
}

body>header a.brand:hover {
  text-decoration: none
}

body>header ul.social {
  display: none;
  padding: 0;
}

body>header ul.social li {
  display: inline-block;
  width: 15px;
  margin-right: 15px;
  opacity: .5
}

body>header ul.social li:hover {
  opacity: 1
}

body>header ul.social li:last-child {
  margin-right: 0
}

@media(min-width:700px) {
  body>header ul.social {
    display: block;
    position: static
  }
}

body>header nav[role=main] a {
  margin-right: 15px
}

@media(min-width:700px) {
  body>header nav[role=main] a {
    display: block;
    margin-bottom: 10px
  }
}

@media(min-width:700px) {
  body>header nav[role=main] {
    margin-bottom: 25px
  }
}

.project-list img {
  display: block;
  width: 100%;
  margin-top: 2rem;
}

@media (min-width:800px) {
  .project-list {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
  }

  .project-list img {
    margin-top: 0;
  }
}

@media (min-width:1000px) {
  .project-list {
    grid-gap: 4rem;
  }
}

@media(min-width:700px) {
  article {
    margin-left: auto;
    margin-right: auto;
    max-width: 38rem;
    padding: 4rem 2rem;
  }
}


/* div.project-list {
  margin-top: -20px
}

@media(min-width:600px) and (max-width:700px) {
  div.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
}

@media(min-width:700px) {
  div.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between
  }
}

div.project-list div.item {
  width: 100%;
  margin-bottom: 0
}

@media(min-width:600px) and (max-width:700px) {
  div.project-list div.item {
    width: 50%
  }

  div.project-list div.item:nth-child(odd) {
    padding-right: 10px
  }

  div.project-list div.item:nth-child(even) {
    padding-left: 10px
  }
}

@media(min-width:700px) and (max-width:850px) {
  div.project-list div.item {
    width: 100%
  }
}

@media(min-width:850px) {
  div.project-list div.item {
    width: 400px;
  }

  div.project-list div.item:nth-child(odd) {
    padding-right: 10px
  }

  div.project-list div.item:nth-child(even) {
    padding-left: 10px
  }
}

div.project-list a {
  display: block;
  width: 100%;
  position: relative
} */

div.project-list a:hover img {
  filter: saturate(0) brightness(50%)
}

/* div.project-list a img {
  transition: filter .1s ease-out;
  display: block;
  width: 100%;
  margin-bottom: 20px
} */

div.project-list a span {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #fff;
}

div.item {
  display: block;
  width: 100%;
  position: relative
}

.hero {
  background-image: url("/images/saturn-v-launch.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}